@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  background: linear-gradient(90deg, rgb(43, 77, 130), rgb(40, 144, 172));
  color: white;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracker-body {
  width: 400px;
  background-color: #575151;
  min-width: 500px;
  padding: 1em;
}

h3 {
  border-bottom: 1px solid #bbb;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.5em;
}

h4 {
  margin: 0;
}
